<!DOCTYPE html>

<html lang="es" ng-app="LaMaceta">

<head>
  <script src="../bower_components/angular/angular.js" type="text/javascript"></script>
  <script src="../bower_components/angular-bootstrap/ui-bootstrap.js" type="text/javascript"></script>
  <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js" type="text/javascript"></script>
  <script src="../bower_components/ng-table/dist/ng-table.js" type="text/javascript"></script>
  <script src="../js/controllers/AdminController.js"></script>
  <script src="../js/services/AdminService.js"></script>


  <meta charset="utf-8">
  <title>Mi Cuenta | LaMaceta</title>

  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <!--<meta content="Metronic Shop UI description" name="description">
  <meta content="Metronic Shop UI keywords" name="keywords">
  <meta content="keenthemes" name="author">

  <meta property="og:site_name" content="-CUSTOMER VALUE-">
  <meta property="og:title" content="-CUSTOMER VALUE-">
  <meta property="og:description" content="-CUSTOMER VALUE-">
  <meta property="og:type" content="website">
  <meta property="og:image" content="-CUSTOMER VALUE-"><!-- link to image for socio -->
  <!--<meta property="og:url" content="-CUSTOMER VALUE-">-->

  <!--<link rel="shortcut icon" href="favicon.ico">-->

  <!-- Fonts START -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|PT+Sans+Narrow|Source+Sans+Pro:200,300,400,600,700,900&amp;subset=all" rel="stylesheet" type="text/css"> 
  <!-- Fonts END -->

  <!-- Global styles START -->          
  <link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Global styles END --> 
   
  <!-- Page level plugin styles START -->
  <link href="assets/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet">
  <link href="assets/plugins/owl.carousel/assets/owl.carousel.css" rel="stylesheet">
  <!-- Page level plugin styles END -->

  <!-- Theme styles START -->
  <link href="assets/pages/css/components.css" rel="stylesheet">
  <link href="assets/corporate/css/style.css" rel="stylesheet">
  <link href="assets/pages/css/style-shop.css" rel="stylesheet" type="text/css">
  <link href="assets/corporate/css/style-responsive.css" rel="stylesheet">
  <link href="assets/corporate/css/themes/blue.css" rel="stylesheet" id="style-color">
  <link href="assets/corporate/css/custom.css" rel="stylesheet">
  <!-- Theme styles END -->
</head>
<!-- Head END -->

<br>
<br>
<br>
<br>
<br>

<!-- Body BEGIN -->
<body class="ecommerce"  ng-controller="AdminController">       
    
<!-- BEGIN TOP BAR -->
    <div class="pre-header">
        <div class="container">
            <div class="row">
                <!-- BEGIN TOP BAR LEFT PART -->
                <div class="col-md-6 col-sm-6 additional-shop-info">
                </div>
                <!-- END TOP BAR LEFT PART -->
                <!-- BEGIN TOP BAR MENU -->
                <div class="col-md-6 col-sm-6 additional-nav">
                    <ul class="list-unstyled list-inline pull-right">
                        <li><a href="shop-account.html">Mi Cuenta</a></li>
                        <li><a href="shop-checkout.html">Checkout</a></li>
                        <li><a href="page-login.html">Login</a></li>
                    </ul>
                </div>
                <!-- END TOP BAR MENU -->
            </div>
        </div>        
    </div>
    <!-- END TOP BAR -->

    <!-- BEGIN HEADER -->
    <div class="header">
      <div class="container">

        <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>

        <!-- BEGIN CART -->
        <div class="top-cart-block">
          <i class="fa fa-shopping-cart"></i>
        </div>
        <!--END CART -->

        <!-- BEGIN NAVIGATION -->
        <div class="header-navigation">
          <ul>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
                Bebes                 
              </a>              
            </li>
            <li class="dropdown dropdown-megamenu">
              <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
                Niños                
              </a>
              <ul class="dropdown-menu">
                <li>
                </li>
              </ul>
            </li>
            <li><a href="shop-item.html">Accesorios</a></li>
            <li class="dropdown dropdown100 nav-catalogue">
              <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
                Zapatillas
                
              </a>
              <ul class="dropdown-menu">
                <li>
                  </li>
              </ul>
            </li>
            <!-- BEGIN TOP SEARCH -->
            <li class="menu-search">
              <span class="sep"></span>
              <i class="fa fa-search search-btn"></i>
              <div class="search-box">
                <form action="#">
                  <div class="input-group">
                    <input type="text" placeholder="Search" class="form-control">
                    <span class="input-group-btn">
                      <button class="btn btn-primary" type="submit">Search</button>
                    </span>
                  </div>
                </form>
              </div> 
            </li>
            <!-- END TOP SEARCH -->
          </ul>
        </div>
        <!-- END NAVIGATION -->
      </div>
    </div>
    <!-- Header END -->

    <div class="main">
      <div class="container">
        <ul class="breadcrumb">
            <li><a href="shop-index.html">Inicio</a></li>
            <li><a href="">Tienda</a></li>
            <li class="active">Administrador</li>
        </ul>
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
          <!-- BEGIN SIDEBAR -->
          <div class="sidebar col-md-3 col-sm-3">
            <ul class="list-group margin-bottom-25 sidebar-menu">
              <li class="list-group-item clearfix" ng-click="selectTab('users')"><a href=""><i class="fa fa-angle-right"></i>Usuarios</a></li>
              <li class="list-group-item clearfix" ng-click="selectTab('products')"><a href=""><i class="fa fa-angle-right"></i>Productos</a></li>
              <li class="list-group-item clearfix" ng-click="selectTab('sales')"><a href=""><i class="fa fa-angle-right"></i>Ventas</a></li>
              <li class="list-group-item clearfix" ng-click="selectTab('configureDiscounts')"><a href=""><i class="fa fa-angle-right"></i>Configurar Descuentos</a></li>
              <li class="list-group-item clearfix" ng-click="selectTab('editProfile')"><a href=""><i class="fa fa-angle-right"></i>Editar Perfil</a></li>
              <li class="list-group-item clearfix" ng-click="selectTab('reports')"><a href=""><i class="fa fa-angle-right"></i>Reportes</a></li>
              <li class="list-group-item clearfix" ng-click="selectTab('size-colors')"><a href=""><i class="fa fa-angle-right"></i>Talles/Colores</a></li>
              <li class="list-group-item clearfix" ng-click="selectTab('images')"><a href=""><i class="fa fa-angle-right"></i>Imagenes</a></li>
              <li class="list-group-item clearfix" ng-click="selectTab('shippingCost')"><a href=""><i class="fa fa-angle-right"></i>Costo de Envio</a></li>
              <li class="list-group-item clearfix" ng-click="selectTab('providers')"><a href=""><i class="fa fa-angle-right"></i>Proveedores</a></li>
              <li class="list-group-item clearfix" ng-click="selectTab('promotions')"><a href=""><i class="fa fa-angle-right"></i>Promociones</a></li>
              <li class="list-group-item clearfix" ng-click="selectTab('logout')"><a href=""><i class="fa fa-angle-right"></i>Cerrar Sesion</a></li>
            </ul>
          </div>
          <!-- END SIDEBAR -->

      <div class="col-md-9 col-sm-7">
          <div ng-show="selectedTab=='users'">
           <h1>USUARIOS</h1> 
           <div align="right"><button type="submit" class="btn btn-primary" ng-click="openUserModal()">Agregar Usuario</button></div></br>
            <div class="goods-page">
              <div class="goods-data clearfix">
                <div class="table-wrapper-responsive">
                <table summary="Shopping cart">
                  <tr>
                    <th >Datos Usuario</th>
                    <th >Tipo de Usuario</th>
                    <th >Estado</th>
                  </tr>
                  <tr ng-repeat="user in users  | filter:{active:true} track by $index">
                      <td >
                        <h3>{{user.surname}}, {{user.name}}</h3>
                        <p>{{user.email}}</p>
                      </td>
                      <td >
                        <p>{{user.idUserType.type}}</p>
                      </td>
                      <td >
                        <p>
                           <span ng-if="user.active == true">
                             ACTIVO
                           </span>
                           <span ng-if="user.active != true">
                             INACTIVO
                           </span>
                        </p>
                      </td>
                      <td >
                        <div class="dropdown">
                          <button class="btn btn-primary" type="button" id="userActions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Acciones
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="userActions">
                            <li><a ng-click="openEditUserTypeModal(user)">Cambiar Tipo</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a ng-click="removeUser(user)">Eliminar</a></li>
                          </ul>
                        </div>
                      </td>
                  </tr>
                </table>
                </div>
              </div>
          </div>
          </div> <!---ng-show-->  
          <div ng-show="selectedTab=='products'">
            <h1>PRODUCTOS</h1>
            <div align="right"><button type="submit" class="btn btn-primary" ng-click="openProductModal()">Agregar Producto</button></div>
            </br>
            <div class="goods-page">
              <div class="goods-data clearfix">
                <div class="table-wrapper-responsive">
                                <table summary="Shopping cart">
                  <tr>
                    <th class="goods-page-description">SKU</th>
                    <th class="goods-page-description">Descripcion</th>
                    <th class="goods-page-description">Stock</th>
                    <th class="goods-page-price" colspan="2">Precio</th>
                  </tr>
                  <tr>
                    <td class="goods-page-description">
                      1234
                    </td>
                    <td class="goods-page-description">
                      <p><strong><a>Pantalon</a></strong> - Color: Verde; Talle: S;</p>
                    </td>
                    <td class="goods-page-stock">
                      15
                    </td>
                    <td class="goods-page-price">
                      <strong><span>$</span>100.00</strong>
                    </td>
                      <td class="del-goods-col">
                        <a class="del-goods" href="">&nbsp;</a>
                        <a class="add-goods" href="" ng-click="openEditProductModal(product)">&nbsp;</a>
                      </td>
                  </tr>
                </table>
                </div>
              </div>
            </div>
          </div> <!---ng-show-->  
          <div ng-show="selectedTab=='sales'">
            <h1>VENTAS</h1>
            <div class="goods-page">
              <div class="goods-data clearfix">
                <div class="table-wrapper-responsive">
                  <table summary="Shopping cart">
                  <tr>
                    <th class="goods-page-description">Nro. Venta</th>
                    <th class="goods-page-description">Descripcion</th>
                    <th class="goods-page-description">Fecha</th>
                    <th class="goods-page-description">Estado</th>
                    <th class="goods-page-price" colspan="2">Monto total</th>
                  </tr>
                  <tr>
                    <td class="goods-page-description">
                      1234
                    </td>
                    <td class="goods-page-description">
                      <p><strong><a>Item 1</a></strong> - Color: Verde; Talle: S; Cantidad: 1</p>
                      <p><strong><a>Item 2</a></strong> - Color: Azul;  Talle: X; Cantidad: 5</p>
                    </td>
                    <td class="goods-page-stock">
                      15/10/2016
                    </td>
                    <td class="goods-page-stock">
                      Aceptada
                    </td>
                    <td class="goods-page-price">
                      <strong><span>$</span>500.00</strong>
                    </td>
                    <td class="del-goods-col">
                     <!-- <a class="del-goods" href="javascript:;">&nbsp;</a> btnDetalle???
                      <a class="add-goods" href="javascript:;">&nbsp;</a>-->
                    </td>
                  </tr>
                </table>
                </div>
              </div>
            </div>
          </div> <!---ng-show-->  
          <div ng-show="selectedTab=='configureDiscounts'">
            <h1>CONFIGURAR DESCUENTOS</h1>
            <div align="right"><button type="submit" class="btn btn-primary" ng-click="openDiscountModal()">Agregar Descuento</button></div>
            </br>
            <div class="goods-page">
              <div class="goods-data clearfix">
                <div class="table-wrapper-responsive">
                <table summary="Shopping cart">
                  <tr>
                    <th class="goods-page-description">Id</th>
                    <th class="goods-page-description">Producto</th>
                    <th class="goods-page-description">Precio</th>
                    <th class="goods-page-price">Descuento</th>
                    <th class="goods-page-description">Precio c/Descuento</th>
                    <th class="goods-page-description">estado</th>             
                  </tr>
                  <tr>
                    <td class="goods-page-description">
                      1234
                    </td>
                    <td class="goods-page-description">
                      <p><strong><a>Pantalon</a></strong> - Color: Verde; Talle: S;</p>
                    </td>
                    <td class="goods-page-price">
                      <strong><span>$</span>100.00</strong>
                    </td>
                    <td class="goods-page-price">
                        <select class="form-control">
                          <option><a>10%</a></option>              
                          <option><a>20%</a></option>
                        </select>
                    </td>
                    <td class="goods-page-price">
                     <center><strong><span>$</span>90.00</strong> </center>
                    </td>
                    <td class="goods-page-description">
                      ACTIVO
                    </td>
                    <td class="del-goods-col">
                      <a class="del-goods" href="">&nbsp;</a>
                    </td>
                  </tr>
                </table>
                </div>
              </div>
            </div>
          </div> <!---ng-show--> 
          <div ng-show="selectedTab=='editProfile'">
            <h1>CAMBIAR DATOS PERFIL</h1>
                  <div class="panel-body row">
                    <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                        <label for="name">Nombre <span class="require">*</span></label>
                        <input type="text" id="name" class="form-control">
                      </div>
                      <div class="form-group">
                        <label for="lastname">Apellido <span class="require">*</span></label>
                        <input type="text" id="lastname" class="form-control">
                      </div>
                      <div class="form-group">
                        <label for="email">E-Mail <span class="require">*</span></label>
                        <input type="text" id="email" class="form-control">
                      </div>
                      <h3>Contraseña</h3>
                      <div class="form-group">
                        <label for="password">Contraseña <span class="require">*</span></label>
                        <input type="password" id="password" class="form-control">
                      </div>
                      <div class="form-group">
                        <label for="password-confirm">Confirmar Contraseña <span class="require">*</span></label>
                        <input type="text" id="password-confirm" class="form-control">
                      </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                        <label for="birthdate">Fecha de Nacimiento</label>
                        <input type="date" id="birthdate" class="form-control">
                      </div>
                      <label for="gender">Genero</label>                     
                      <div class="checkbox">
                        <label>
                          <input type="checkbox">Masculino
                        </label>
                        <label>
                          <input type="checkbox">Femenino
                        </label>
                      </div>
                    </div>
                    <hr>
                    <div class="col-md-12">                      
                      <button class="btn btn-primary  pull-right" type="submit" data-toggle="collapse" data-parent="#checkout-page" data-target="#shipping-address-content" id="button-payment-address">Guardar</button>                      
                    </div>
                  </div>
          </div> <!---ng-show--> 
          <div ng-show="selectedTab=='reports'">
            <h1>REPORTES</h1>
            <div class="goods-page">
              <div class="goods-data clearfix">
                <div class="table-wrapper-responsive">
                  <table summary="Shopping cart">
                  <tr>
                    <th class="goods-page-description">Nombre Reporte</th>
                    <th class="goods-page-description">Fecha Desde</th>
                    <th class="goods-page-description">Fecha Hasta</th>
                  </tr>
                  <tr>
                    <td class="goods-page-description">
                      <p><strong>Ventas</strong></p>
                    </td>
                    <td>
                      <div class="form-group">
                        <input type="date" id="dateFrom" class="form-control">
                      </div>
                    </td>
                    <td>
                      <div class="form-group">
                        <input type="date" id="dateFrom" class="form-control">
                      </div>
                    </td>
                    <td >
                      <button class="btn btn-primary" type="button" id="userActions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Generar                         
                      </button>
                    </td>
                  </tr>
                </table>
                </div>
              </div>
            </div>
          </div> <!---ng-show-->  
          <div ng-show="selectedTab=='size-colors'">
            <h1>TALLES / COLORES</h1>
              <div align="right">
                <button type="submit" class="btn btn-primary" ng-click="openColorModal()">Agregar Color</button>
                <button type="submit" class="btn btn-primary" ng-click="openSizeModal()">Agregar Talle</button>
              </div>
            </br>
            <div class="goods-page">
              <div class="goods-data clearfix">
                <div class="table-wrapper-responsive">
                  <table summary="Shopping cart">
                  <tr>
                    <th class="goods-page-description">Color</th>
                    <th class="goods-page-description">Estado</th>
                  </tr>
                  <tr>
                    <td class="goods-page-description">
                      Amarillo
                    </td>
                    <td class="goods-page-description">
                      Activo
                    </td>
                    <td class="del-goods-col">
                      <a class="del-goods" href="">&nbsp;</a>
                      <a class="add-goods" href="" ng-click="openEditProductModal(product)">&nbsp;</a>
                    </td>                  
                  </tr>
                </table>
                <br>
                <br>
                <br>
                <table summary="Shopping cart">
                  <tr>
                    <th class="goods-page-description">Talle</th>
                    <th class="goods-page-description">Proveedor</th>
                    <th class="goods-page-description">Estado</th>
                  </tr>
                  <tr>
                    <td class="goods-page-description">
                      S
                    </td>
                    <td class="goods-page-description">
                      Proveedor 1
                    </td>
                    <td class="goods-page-description">
                      Activo
                    </td>
                    <td class="del-goods-col">
                      <a class="del-goods" href="">&nbsp;</a>
                      <a class="add-goods" href="" ng-click="openEditProductModal(product)">&nbsp;</a>
                    </td>
                  </tr>
                </table>
                </div>
              </div>
            </div>
          </div> <!---ng-show-->  
          <div ng-show="selectedTab=='images'">
            <h1>IMAGENES</h1>
            <div class="goods-page">
              <div class="goods-data clearfix">
                  <div class="row">
                    <div class="col-xs-4 col-sm-5 col-md-6 col-lg-6">
                       <div class="form-group">
                        <label for="name">Ingrese el link para la imagen <span class="require">*</span></label>
                        <input type="text" id="name" class="form-control">
                      </div>
                      <div class="form-group">
                        <label for="userType">Seleccione imagen que desea cargar<span class="require"> *</span></label>
                        <select class="form-control" id="userType" ng-model="user.userType" name="userType"              
                         required>
                          <option >Slider1</option>
                          <option >Slider2</option>
                          <option >Recomendado1</option>
                        </select>
                        <span class="messages" ng-show="UserTypeForm.$submitted || UserTypeForm.userType.$touched">
                          <span ng-show="UserTypeForm.userType.$error.required">El campo es obligatorio.</span>
                        </span>
                      </div>
                        <label for="file">Imagen </label>
                        <input type="file" id="file" name="file"/>
                    </div><!-- /.col-xs-4 col-sm-5 col-md-6 col-lg-6 -->
                  </div><!-- /.row -->
              </div>
            </div>
            <div class="col-md-12">                      
              <button class="btn btn-primary" type="button" ng-click="save(address)" ng-disabled="addressForm.$invalid">Guardar</button>
              <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>                   
            </div>
          </div> <!---ng-show--> 
          <div ng-show="selectedTab=='shippingCost'">
            <h1>COSTO DE ENVIO</h1>
            <div align="right"><button type="submit" class="btn btn-primary" ng-click="openShippingCostModal()">Agregar Costo de Envio</button></div>
            </br>
            <div class="goods-page">
              <div class="goods-data clearfix">
                <div class="table-wrapper-responsive">
                                <table summary="Shopping cart">
                  <tr>
                    <th class="goods-page-description">Provincia</th>
                    <th class="goods-page-price" colspan="2">Costo de Envio</th>
                  </tr>
                  <tr>
                    <td class="goods-page-description">
                      Buenos Aires
                    </td>
                    <td class="goods-page-price">
                      <strong><span>$</span>15.00</strong> 
                    </td>                  
                    <td class="del-goods-col">
                      <a class="del-goods" href="">&nbsp;</a>
                      <a class="add-goods" href="" ng-click="openShippingCostModal()">&nbsp;</a>
                    </td>
                  </tr>
                </table>
                </div>
              </div>
            </div>
          </div> <!---ng-show-->  
          <div ng-show="selectedTab=='providers'">
            <h1>PROVEEDORES</h1>
            <div align="right"><button type="submit" class="btn btn-primary" ng-click="openProvidersModal()">Agregar Proveedor</button></div>
            </br>
            <div class="goods-page">
              <div class="goods-data clearfix">
                <div class="table-wrapper-responsive">
                                <table summary="Shopping cart">
                  <tr>
                    <th class="goods-page-description">Proveedor</th>
                    <th class="goods-page-price" colspan="2">Descripcion</th>
                  </tr>
                  <tr>
                    <td class="goods-page-description">
                      Proveedor1
                    </td>
                    <td class="goods-page-price">
                      <strong>Descripcion1</strong> 
                    </td>                  
                    <td class="del-goods-col">
                      <a class="del-goods" href="">&nbsp;</a>
                      <a class="add-goods" href="" ng-click="openProvidersModal()">&nbsp;</a>
                    </td>
                  </tr>
                </table>
                </div>
              </div>
            </div>
          </div> <!---ng-show-->
          <div ng-show="selectedTab=='promotions'">
            <h1>PROMOCIONES</h1>
            <div align="right"><button type="submit" class="btn btn-primary" ng-click="openPromotionModal()">Agregar Promoción</button></div>
            </br>
            <div class="goods-page">
              <div class="goods-data clearfix">
                <div class="table-wrapper-responsive">
                                <table summary="Shopping cart">
                  <tr>
                    <th class="goods-page-description">Banco</th>
                    <th class="goods-page-description">Tarjeta</th>
                    <th class="goods-page-description">Desde</th>
                    <th class="goods-page-description">Hasta</th>
                    <th class="goods-page-description">Días</th>
                    <th class="goods-page-price" colspan="2">Porcentaje</th>
                  </tr>
                  <tr>
                    <td class="goods-page-description">
                       Galicia
                    </td>
                    <td class="goods-page-description">
                      Visa
                    </td>
                    <td class="goods-page-description">
                      01/01/2010
                    </td>
                    <td class="goods-page-description">
                      31/12/2015
                    </td>
                    <td class="goods-page-description">
                      Lunes Jueves Sabado
                    </td>
                    <td class="goods-page-price">
                      <strong><span></span>15.00</strong>
                    </td>
                      <td class="del-goods-col">
                        <a class="del-goods" href="">&nbsp;</a>
                        <a class="add-goods" href="" ng-click="openEditProductModal(product)">&nbsp;</a>
                      </td>
                  </tr>
                </table>
                </div>
              </div>
          </div> <!---ng-show-->  
        </div>        
        </div>
        <!-- END SIDEBAR & CONTENT -->
      </div>
    </div>

    <!-- BEGIN STEPS -->
    <div class="steps-block steps-block-red">
      <div class="container">
        <div class="row">
          <div class="col-md-4 steps-block-col">
            <i class="fa fa-phone"></i>
            <div>
              <h2>4444-3333</h2>
              <em>Llamenos!</em>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END STEPS -->

    <!-- BEGIN PRE-FOOTER -->
    <div class="pre-footer">
      <div class="container">
        <div class="row">
          <!-- BEGIN BOTTOM CONTACTS -->
          <div class="col-md-3 col-sm-6 pre-footer-col">
            <h2>Contacto</h2>
            <address class="margin-bottom-40">
              Av. Santa Fe 1234<br>
              Buenos Aires, Argentina<br>
              Telefono: 4444-3333<br>
              Fax: 4444-3333<br>
              Email: <a href="mailto:info@metronic.com">email@email.com</a><br>
            </address>
          </div>
          <!-- END BOTTOM CONTACTS -->
        </div>
        <hr>
        <div class="row">
          <!-- BEGIN SOCIAL ICONS -->
        
        </div>
      </div>
    </div>
    <!-- END PRE-FOOTER -->
    <!-- Load javascripts at bottom, this will reduce page load time -->
    <!-- BEGIN CORE PLUGINS(REQUIRED FOR ALL PAGES) -->
    <!--[if lt IE 9]>
    <script src="assets/plugins/respond.min.js"></script>  
    <![endif]-->  
    <script src="assets/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-migrate.min.js" type="text/javascript"></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>      
    <script src="assets/corporate/scripts/back-to-top.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->

    <!-- BEGIN PAGE LEVEL JAVASCRIPTS (REQUIRED ONLY FOR CURRENT PAGE) -->
    <script src="assets/plugins/fancybox/source/jquery.fancybox.pack.js" type="text/javascript"></script><!-- pop up -->
    <script src="assets/plugins/owl.carousel/owl.carousel.min.js" type="text/javascript"></script><!-- slider for products -->

    <script src="assets/corporate/scripts/layout.js" type="text/javascript"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            Layout.init();    
            Layout.initOWL();
            Layout.initTwitter();
        });
    </script>
    <!-- END PAGE LEVEL JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>