 <div class="modal-header">
    <center><h3 class="modal-title">Editar Tipo de Usuario</h3></center>
</div>
<div class="modal-body">
  <style type="text/css">

    .messages {
      color: #FA787E;
    }
    form.ng-submitted input.ng-invalid{
      border-color: #FA787E;
    }
    form input.ng-invalid.ng-touched {
      border-color: #FA787E;
    }

    form input.ng-valid.ng-touched {
      border-color: #78FA89;
    }

  </style>

  <form id="UserTypeModal"  enctype="multipart/form-data" name="UserTypeForm" novalidate>
    <div layout="column" layout-align="space-around center">
      <div class="row">
        <div class="col-xs-4 col-sm-5 col-md-6 col-lg-6">
            <div class="form-group">
              <label for="userType">Tipo de Usuario<span class="require"> *</span></label>
              <select class="form-control" id="userType" ng-model="user.userType" name="userType"              
               required>
                <option ng-repeat="province in provinces track by $index">{{province.name}}</option>
              </select>
              <span class="messages" ng-show="UserTypeForm.$submitted || UserTypeForm.userType.$touched">
                <span ng-show="UserTypeForm.userType.$error.required">El campo es obligatorio.</span>
              </span>
            </div>
        </div><!-- /.col-xs-4 col-sm-5 col-md-6 col-lg-6 -->
      </div><!-- /.row -->
    </div>    
  </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="save(userType)" ng-disabled="addressForm.$invalid">Guardar</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>

